.order-card {
  padding: 5px;
  border-radius: 13px;
  height: 220px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10px;
}
.order-card-inside {
  background-color: #f4f4f4;
  border-radius: 13px;
  height: 200px;
  margin-top: 5px;
  width: 98%;
  margin-left: 1%;
  overflow: hidden;
}
.order-img {
  width: 200px;
  height: 200px;
  margin-left: -14px;
  padding: 5px;
  border-radius: 14px;
}
.product-info {
  box-sizing: border-box;
  text-align: left;
}
.owner-info {
  margin-top: 6px;
  margin-bottom: 2px;
}
/* on sale section ------ */
#on_sale {
  margin-bottom: 20px;
}
.title-box {
  background-color: #e84545;
  color: white;
  padding: 2px 10px 0px 10px;
  width: 180px;
  height: 40px;
  margin-top: 20px;
  margin-left: -15px;
  display: flex;
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.title-box h2 {
  text-align: left;
  font-size: 24px;
  font-family: "Lobster", cursive;
}
.category-title {
  text-align: left;
  margin-top: 10px;
}
.title-box::after {
  content: "";
  border-top: 40px solid #e84545;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -2px;
  margin-left: 170px;
}
/* on sale section ------ */
.delete_btn {
  background-color: #e84545;
  padding: 2px 9px;
  margin-left: 12px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.edit_btn {
  padding: 2px 12px;

  color: black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #cacaca;
}
#customize_icon {
  color: #e84545;
  font-size: 16px;
}
