/* website features  */
.website-features {
  margin: 60px 0;
}
.imgstyle img {
  width: 20%;
  margin: auto;
}
.service-box {
  width: 274px;
  margin: 5px;
  height: 81px;
  padding: 5px 5px;
  border-radius: 15px;
}
.features-text {
  margin-top: 10px;
  float: right;
  width: 80%;
  padding-left: 10px;
}
.features-box {
  padding-top: 20px;
}
/* website features  */
